@using TestTask.Model
@using TestTask.Enums

<div class="customModal">
    <div class="form-group">
        <label for="formGroupExampleInput1">Название</label>
        <input type="text" class="form-control" @bind-value="Assignment.Title" id="formGroupExampleInput1" placeholder="Введите название">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Описание</label>
        <textarea class="form-control" id="formGroupExampleInput2" @bind-value="Assignment.Description" @bind-value:event="oninput" style="resize: none;" placeholder="Опишите задачу" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" @onclick="UpdateCurrentAssignment">Изменить</button>
</div>

@code {
    [Parameter]
    public EventCallback<AssignmentModel> UpdateAssignment { get; set; }

    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public AssignmentModel Assignment { get; set; }

    public async Task UpdateCurrentAssignment()
    {
        await UpdateAssignment.InvokeAsync(Assignment);
        await ModalInstance.CloseAsync();
    }
}
